
body{
    /* background-image: url("../images/chucknorris.jpg"); */
    /* background-image:url("http://www.zastavki.com/pictures/1920x1200/2011/Drawn_wallpapers_Vector_Wallpapers_Chuck_Norris_degeneration_029945_.jpg") */
    /*background-image: url(https://images7.alphacoders.com/405/405808.jpg);*/
    background-image:url("../images/chucknorriswhitebackground.jpg");
    background-size:cover;
    }

.title{
    font-family: 'Lobster', cursive;
    color: grey;
     text-align:center;
     font-size:60px;
     margin-top:30px;
     font-weight:bold;
}

.quote{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
    background-color:rgba(0, 0, 0, 0.15);

}

#box{
    background-color: transparent;
    font-weight: bold;
    border-radius: 25px;
    width:600px;
    text-align:center;
    margin: 0 auto;
    margin-top:25%;
    position: relative;
    opacity: 1;
}

#randQuote{
    padding: 5px; 
    padding-right:20px;
    padding-left: -5px;
}

.end{
   top: 10%;
   left:25%;
   right:25%;
   text-align: center;
}

#endText{
    margin:30px;
    font-family:'Raleway', serif;
    color: white;
    opacity: 1;
}

.github{
    width:50px;
    height:50px;
    border:solid 0px transparent;
    background-color:transparent;
  }
