
body{
    background-image: url(https://images.bonanzastatic.com/afu/images/2105/4654/22/deltaforcebwvmm.jpg);
    }

.title{
    font-family: 'Slabo 27px', serif;
    color: #3f3fe3;
}

.quote{
    font-family: 'Raleway', sans-serif;
}



